POSTGRES_PASSWORD=Mydatabasepassword1
# db is the name of the database container in the docker compose network
DATABASE_URL=postgresql://postgres:BlOlmWdxeZBUZHEAGeFwLwlJbDSRcZEY@postgres.railway.internal:5432/railway
PORT=5000

NODE_ENV=development


KINDE_ISSUER_URL=https://nima1.kinde.com
KINDE_CLIENT_ID=a0c34042615544e3bbe9b0ce9cfef8c9
KINDE_CLIENT_SECRET=deeLxqKgq4z03KfCiZn1uzgVvPeOMCeib3nK6yEqiBDfLeFGIlTK
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000